
body {
  background-color: #141C1F;
  margin: 0px;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.info {
  flex: 0 0 auto;
  margin: auto;
  font-size: 14px;
  text-align: center;
  color: white;
  width: 50%;
  word-break: break-all;
}

.logo svg {
  height: 30px;
}

.detail {
  display: inline-block;
  margin-top: 30px;
}

.new-link {
  margin-top: 20px;
  color: #00AEFF;
}
